<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WOW - World of Wonders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>

        <nav class="navbar navbar-light bg-white container">
            <img style="width:14em;" src="/logos/wowlogo.png" class="rounded mx-auto d-block" alt="World Of Wonders">
            {{!-- <button method="GET" action="/" class="btn btn-outline-white btn-block " type="button"><b>HOME</b></button> --}}
        </nav>
    </header>

    {{{body}}}

    <footer>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"><img style=" width:2em;" src="/logos/footer-wow-logo.png"
                    class="rounded mx-auto d-block" alt="World Of Wonders"></a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <p class="text-right"><i>&copy; 2019 Sunny Krishnan Pillai, All rights
                            reserved for WOW - World of Wonders.</i></p>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>