<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WOW - World of Wonders {{pageTitle}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>

        <nav class="navbar navbar-light bg-light">
            <img style="width:14em;" src="/images/wowlogo.png" class="rounded mx-auto d-block" alt="World Of Wonders">
        </nav>
    </header>

    {{{body}}}

    <footer>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"><img style=" width:2em;" src="/images/footer-wow-logo.png"
                    class="rounded mx-auto d-block" alt="World Of Wonders"></a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <p class="text-right">&copy; 2019 Wow - World of Wonders. All rights reserved.</p>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>