<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WOW - World of Wonders {{pageTitle}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header>

        <h1>hEYYYYYYYYYYYYYY</h1>
        {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="../../images/wow-logo.png" alt="WOW-LOGO"
                    class="img-thumbnail"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <form method="POST" action="/task/addTask" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="username" placeholder="Enter Username"
                        aria-label="Username">
                    <input class="form-control mr-sm-2" type="password" placeholder="Enter Password"
                        aria-label="Password">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
                    <span>OR</span>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
                </form>
            </div>
        </nav> --}}
    </header>

    {{{body}}}

    <footer>
        <p> Created by &copy; Sunny Krishnan Pillai </p>
    </footer>
</body>

</html>