<div class="row text-white bg-dark">
    <div class="col-auto">
        <div class="jumbotron text-white bg-dark">
            <h1 class="display-6">Welcome to the World of Wonders, "Stayin' Alive..!"</h1>
            <p class="lead">Beautiful, Inspirational Spaces.
                Browse our Most Popular Rentals...</p>
            <div class="dropdown-divider"></div>
            <nav class="navbar navbar-dark text-white bg-dark mx-auto">
                <form class="form-inline col-12 ">
                    <div class="form-group col-7">
                        <select id="inputState" class="form-control col">
                            <option selected>Select Your City...</option>
                            <option> <a class="dropdown-item" href="#">Toronto</a></option>
                            <option> <a class="dropdown-item" href="#">Mississauga</a></option>
                            <option> <a class="dropdown-item" href="#">Brampton</a></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info col">Search</button>
                </form>
            </nav>
        </div>
    </div>
</div>