<div class="form-row bg-white">
    <div class="col-9">
        <div class="card-deck ">
            <div class="card">
                <img src="room2.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                    <p class="card-text">
                        Great check-in experience
                        100% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room1.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                    <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                        room
                        has:
                        Shares one full bathroom plus one extra shower with Room # 4</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Private room in bed and breakfast</h5>
                    <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <img src="room2.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                    <p class="card-text">
                        Great check-in experience
                        100% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room1.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                    <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                        room
                        has:
                        Shares one full bathroom plus one extra shower with Room # 4</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Private room in bed and breakfast</h5>
                    <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <img src="room2.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                    <p class="card-text">
                        Great check-in experience
                        100% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room1.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                    <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                        room
                        has:
                        Shares one full bathroom plus one extra shower with Room # 4</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Private room in bed and breakfast</h5>
                    <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <img src="room2.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                    <p class="card-text">
                        Great check-in experience
                        100% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room1.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                    <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                        room
                        has:
                        Shares one full bathroom plus one extra shower with Room # 4</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Private room in bed and breakfast</h5>
                    <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <img src="room2.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                    <p class="card-text">
                        Great check-in experience
                        100% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room1.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                    <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                        room
                        has:
                        Shares one full bathroom plus one extra shower with Room # 4</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Private room in bed and breakfast</h5>
                    <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <img src="room2.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                    <p class="card-text">
                        Great check-in experience
                        100% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room1.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
                    <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                    <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                        room
                        has:
                        Shares one full bathroom plus one extra shower with Room # 4</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
            <div class="card">
                <img src="room3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Private room in bed and breakfast</h5>
                    <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
                </div>
                <div class="card-footer ">
                    <button type="button" class="btn btn-info btn-block btn-sm">View Room</button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-3 bg-dark text-white rounded">
        <form method="GET" action="/user" class="px-4 py-2">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Username</label>
                <input type="text" class="form-control" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input style="margin-bottom: 2em;" type="password" class="form-control" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-outline-info btn-block btn-sm">Sign
                in</button>
        </form>
        <form class="px-4 py-1" method="GET" action="/user_signup">
            <button type="submit" class="btn btn-outline-info btn-sm btn-block">New
                to WOW ? Signup</button>
        </form>
        <form class="px-4 py-1" method="GET" action="/admin_login">
            <button type="submit" class="btn btn-outline-danger btn-sm btn-block">Sign in as Admin</button>
        </form>
    </div>
</div>