<div class="container">
    <div class="card-deck ">
        <div class="card">
            <img src="room2.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                <p class="card-text">
                    Great check-in experience
                    100% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room1.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                    room
                    has:
                    Shares one full bathroom plus one extra shower with Room # 4</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Private room in bed and breakfast</h5>
                <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
    </div>
    <br />
    <div class="card-deck ">
        <div class="card">
            <img src="room2.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                <p class="card-text">
                    Great check-in experience
                    100% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room1.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                    room
                    has:
                    Shares one full bathroom plus one extra shower with Room # 4</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Private room in bed and breakfast</h5>
                <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
    </div>
    <br />
    <div class="card-deck ">
        <div class="card">
            <img src="room2.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                <p class="card-text">
                    Great check-in experience
                    100% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room1.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                    room
                    has:
                    Shares one full bathroom plus one extra shower with Room # 4</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Private room in bed and breakfast</h5>
                <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
    </div>
    <br />
    <div class="card-deck ">
        <div class="card">
            <img src="room2.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                <p class="card-text">
                    Great check-in experience
                    100% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room1.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                    room
                    has:
                    Shares one full bathroom plus one extra shower with Room # 4</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Private room in bed and breakfast</h5>
                <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
    </div>
    <br />
    <div class="card-deck ">
        <div class="card">
            <img src="room2.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                <p class="card-text">
                    Great check-in experience
                    100% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room1.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                    room
                    has:
                    Shares one full bathroom plus one extra shower with Room # 4</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Private room in bed and breakfast</h5>
                <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
    </div>
    <br />
    <div class="card-deck ">
        <div class="card">
            <img src="room2.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Private Twin bed room 1-2 Guests Max</h5>
                <p class="card-text">
                    Great check-in experience
                    100% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room1.jpg" class="card-img-top" alt="Room">
            <div class="card-body">
                <h5 class="card-title">Toronto Mina's Guest House room #6</h5>
                <p class="card-text">Mina's guest is located in downtown Toronto.We offer furnished bedrooms,This
                    room
                    has:
                    Shares one full bathroom plus one extra shower with Room # 4</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
        <div class="card">
            <img src="room3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Private room in bed and breakfast</h5>
                <p class="card-text">90% of recent guests gave the check-in process a 5-star rating.</p>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-info col-5 btn-sm">View Room</button>&nbsp;<button type="button"
                    class="btn col-5 btn-success btn-sm">Book Room</button>

            </div>
        </div>
    </div>
</div>